body {
    background-image: linear-gradient(to left, #C6FFDD, #FBD786, #f7797d);
    font-family: Arial, Helvetica, sans-serif;
}

.formulario {
    width: 550px;
    height: 500px;
    margin: auto;
    margin-top: 3rem;
    padding: 25px 40px 25px 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 20px #857247;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: fit-content;
    font-size: 20px;
}

input {
    outline: none;
    border: none;
}

.field {
    border: solid 1px #ccc;
    padding: 10px;
    width: 450px;
    height: 25px;
    font-size: 15px;
}

.field:focus {
    border-color: #FBD786;
}

.botn {
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.btn {
    padding: 15px;
    width: 425px;
    height: 55px;
    background-color: transparent;
    border: solid 2px;
    border-color: #FBD786;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: all .199s ease;
    font-weight: normal;
}

.btn:hover {
    background-color: #FBD786;
    color: black;

}

